*{
    margin: 0;padding: 0;
}

.area{
    width: 100%;height: 100vh;
    background: rgb(18, 18, 138);
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    /* position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    animation: animate 15s linear infinite;
    bottom: -150px;
    background: transparent;
    box-shadow: inset 0 0 10px rgba(255, 10, 10, 0.5);
    border-radius: 50%; */
    position: absolute;
    bottom: -20px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 10, 10, 0.5);
    animation: animate 4s linear infinite;
}
.circles :nth-child(1){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    /* animation-duration: 18s; */
}
.circles :nth-child(2){
    left: 40%;
    width: 70px;
    height: 60px;
    animation-delay: 0s;
    /* animation-duration: 18s; */
}
.circles :nth-child(3){
    left: 50%;
    width: 60px;
    height: 40px;
    animation-delay: 0s;
    /* animation-duration: 18s; */
}
.circles :nth-child(4){
    left: 24%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    /* animation-duration: 18s; */
}
.circles :nth-child(5){
    left: 46%;
    width: 60px;
    height: 90px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(6){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(7){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(8){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(9){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(10){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(11){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(12){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(13){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(14){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(18){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(15){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(16){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(17){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(19){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles :nth-child(20){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

@keyframes animate {
    0%
    {
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        /* transform: translateY(); */
        opacity: 0.8;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0;
    }
}